:root{
  /*turquesa*/
  --turquesa-primary-color: #00a49d;
  --tsecundary-option-one:#E89E0C;
  /*naranja*/
  --naranja-primary-color: #e8641b;
  --nsecundary-option-one:#E8330C;
  --nsecundary-option-two:#E80C92;
  /*azul*/
  --azul-primary-color:#00A8EC;
  --asecundary-option-one:#650CE8;
  /*purpura*/
  --purpura-primary-color:#2E0239;
  --psecundary-option-one:#E8380C;
  --psecundary-option-two:#FF6D0D;
  --psecundary-option-three:#E80CA2;
 /*barra-nav*/
  --color-nav-primary:#00a8ec;
  --color-barra-nav:#0079b9;
  --subnav-color:#0079b9;
}
.color-nav{
  background-color: var(--color-nav-primary);
}
.height-nav>li>a,.logo{
  min-height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 2 */
  box-sizing: border-box;
  padding: 0 15px;
  /* 3 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  text-decoration: none;
}
.barra-nav{
  width: 100%;
  height: 15px;
  background-color: var(--color-barra-nav);
}
.nav-sub>li{
  margin: 10px 10px;
  padding: 10px 20px;
  font-weight: bold;
}
.nav-sub>li>a{
    font-size: 15px !important;
  padding: 0 0 7px 0;
}

.nav-sub>li>a:hover{
  color: var(--subnav-color);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: var(--subnav-color);
}
.nav-sub-active>a{
  color: var(--subnav-color) !important;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: var(--subnav-color);
}

.section-color{
  background-color: #f4f3ed;
}

@media (min-width: 960px) {
  .section-padding {
    padding-bottom: 10px !important;
  }
}
.titulo-cards{
  /*color: #E84F0C;*/
  color:var(--nsecundary-option-one);
  border-bottom-style: solid;
  border-bottom-color: #E84F0C;

}


.boton-escuadron-primary{
  background-color: var(--turquesa-primary-color);
  padding: 6px 0;
  color:white;
  font-weight: bold;
  border-style: solid;
  border-color: var(--turquesa-primary-color);
  border-width: 3px;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-top: 10px;
}
.boton-escuadron-primary:hover{
  text-decoration: none;
  background-color: #fff;
  color: var(--turquesa-primary-color);
}

.boton-escuadron-secundary{
  /*background-color: #E30CE8;*/
  background-color: var(--tsecundary-option-one);
  padding: 6px 0;
  color:white;
  font-weight: bold;
  border-style: solid;
  border-color: var(--tsecundary-option-one);
  border-width: 3px;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-top: 10px;

}
.boton-escuadron-secundary:hover{
  text-decoration: none;
  background-color: #fff;
  color: var(--tsecundary-option-one);
}
.boton-escuadron-footer{
  background-color: white;
  padding: 10px 30px;
  color:var(--subnav-color);
  font-weight: bold;
  border-style: solid;
  border-color: var(--subnav-color);
  border-width: 3px;
  border-radius: 8px;
  text-align: center;
  display: inline;
  margin-top: 10px;
}
.boton-escuadron-footer:hover{
  text-decoration: none;
  background-color: var(--subnav-color);
  color: white;
}



.padding-card-body{
  padding-top: 20px;
}
.padding-section{
  padding-top: 30px;
}

.uk-section > .uk-container{
  /* letter-spacing: 4px; */
  font-size: 15px;
}

.letra-grande{
  font-size: 20px;
}
